PORT=5000

MONGO_URI=your_mongodb_connection_string

JWT_SECRET=your_jwt_secret

DEFAULT_ADMIN_ID=your_admin_id
DEFAULT_ADMIN_NAME=your_admin_name
DEFAULT_ADMIN_EMAIL=your_admin_email
DEFAULT_ADMIN_PASSWORD=your_admin_password

EMAIL_USER=your_email
EMAIL_APP_PASSWORD=your_email_app_password

VOTE_INTEGRITY_SECRET=your_vote_integrity_secret